<!-- Footer Section -->
<footer class="footer text-center text-md-start">
    <div class="container">
      <div class="row">
        <!-- Feedback Button and Connect Section -->
        <div class="col-12 col-md-4 mb-4">
          <button class="btn btn-custom4 mb-3">SHARE FEEDBACK</button>
          <h6 class="fw-bold">Let's Connect</h6>
          <p>
            Join us via text & email to unlock <strong>10% OFF*</strong> plus
            so much more!
          </p>
          <button class="btn btn-custom3 mb-2">I WANT IN</button>
          <p>
            *Exclusions apply – see email for full list. Offer is valid for
            full price purchases only and cannot be combined.
          </p>
          <h6 class="fw-bold">Connect With Us</h6>
          <div class="d-flex flex-row">
            <ul class="social-links d-flex ps-0">
              <li>
                <a href=""><img src="https://www.claires.com/on/demandware.static/-/Library-Sites-claires-library/default/dw10648503/assets/images/instagram-icon.png" alt="instagram" /></a>
              </li>
              <li>
                <a href=""><img src="https://www.claires.com/on/demandware.static/-/Library-Sites-claires-library/default/dw32a22481/assets/images/Pinterest-Icon.png" alt="Pinterest" /></a>
              </li>
              <li>
                <a href=""><img src="https://www.claires.com/on/demandware.static/-/Library-Sites-claires-library/default/dw95c742c9/assets/images/TikTok-icon.png" alt="TikTok" /></a>
              </li>
              <li>
                <a href=""><img src="https://www.claires.com/on/demandware.static/-/Library-Sites-claires-library/default/dw8d809688/assets/images/Youtube-icon.png" alt="YouTube" /></a>
              </li>
              <li>
                <a href=""><img src="https://www.claires.com/on/demandware.static/-/Library-Sites-claires-library/default/dw56dfd91e/assets/images/Facebook-icon.png" alt="Facebook" /></a>
              </li>
              <li>
                <a href=""><img src="https://www.claires.com/on/demandware.static/-/Library-Sites-claires-library/default/dwdd124cd8/assets/images/Twitter-icon.png" alt="Twitter" /></a>
              </li>
            </ul>
          </div>
          <p><a href="">*EXCLUSIONS APPLY - SEE DETAILS</a></p>
        </div>
  
        <!-- Help Section -->
        <div class="col-12 col-md-2 mb-4">
          <h6 class="ps-5">HELP</h6>
          <ul>
            <li><a href="#">Track My Order</a></li>
            <li><a href="#">Delivery Information</a></li>
            <li><a href="#">Click & Collect</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Return Policy</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Store Locator</a></li>
            <li><a href="#">Promotions</a></li>
            <li><a href="#">Gift Cards</a></li>
            <li><a href="#">Site Map</a></li>
          </ul>
        </div>
  
        <!-- About Us Section -->
        <div class="col-12 col-md-3 mb-4">
          <h6 class="ps-4">ABOUT US</h6>
          <ul>
            <li><a href="#">Corporate Info</a></li>
            <li><a href="#">Claire's Careers</a></li>
            <li><a href="#">Affiliate Program</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Accessibility Statement</a></li>
            <li><a href="#">Gender Pay Gap Reports</a></li>
            <li><a href="#">Student Discount Program</a></li>
          </ul>
        </div>
  
        <!-- Download App Section -->
        <div class="col-12 col-md-3 mb-4 text-md-end download-icons">
          <h6>DOWNLOAD THE CLAIRE'S APP</h6>
          <img class="google-play" alt="google play" src="https://www.claires.com/on/demandware.static/-/Library-Sites-claires-library/default/dwfc0d6133/static-assets/google-play.png" />
          <img class="app-store" alt="apple store" src="https://www.claires.com/on/demandware.static/-/Library-Sites-claires-library/default/dwfd7d970f/static-assets/apple.png" />
        </div>
      </div>
    </div>
  </footer>
  